.hero {
    margin-bottom: 40px;
    background-image: url(../../images/design-elements/dot-ornament.png), url(../../images/design-elements/ellipse.png);
    background-repeat: no-repeat;
    background-position: left 68px bottom 100px, left 623px top;
    &__wrapper {
        display: flex;
        align-items: center;
        
        padding-right: 0;
        padding-bottom: 96px;
        background-image: url(../../images/design-elements/rectangle.png);
        background-repeat: no-repeat;
        background-position: right 120px bottom 0;
        overflow: hidden;
    }
    &__content {
        width: 470px;
        margin-right: 95px;
    }
    &__title {
        @extend .title;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        margin-bottom: 40px;
        animation-name: heroTitleAnimation;
        animation-duration: 750ms;
        animation-fill-mode:forwards;
        animation-timing-function: $transitionFunction;
    }
    &__discription {
        margin-bottom: 33px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        animation-name: heroAnimation;
        animation-delay: 750ms;
        animation-duration: 750ms;
        animation-fill-mode:forwards;
        animation-timing-function: $transitionFunction;
    }
    &__button {
        height: 65px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        animation-name: heroAnimation;
        animation-duration: 750ms;
        animation-delay: 1500ms;
        animation-fill-mode:forwards;
        animation-timing-function: $transitionFunction;
    }
    &__image {
        width: 755px;
        border-bottom-left-radius: 200px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        animation-name: heroAnimation;
        animation-duration: 750ms;
        animation-delay: 2250ms;
        animation-fill-mode:forwards;
        animation-timing-function: $transitionFunction;

    }
}