.ellipse-button {
    width: 16px;
    height: 16px;
    
    border: none;
    border-radius: 50%;

    background-color: map-get($colors, 'secondary' );
    cursor: pointer;

    &--active {
        background-color: map-get($colors, 'primary' );
    }
}