*, *::before, *::after {
    box-sizing: border-box;
}
html {
    background-color: rgb(29, 29, 29);
}
body {
    width: 1440px;
    margin: 0 auto;

    font-family: "AvertaDemoPECuttedDemo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

    background-color: map-get($colors, 'background' );
    color: map-get($colors, 'secondary-text-color' );
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none; 
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
.link {
    transition: color 250ms $transitionFunction;
    &:hover, &:focus {
        color: map-get($colors, 'primary');
    }
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
img {
    display: block;
}
.title {
    font-size: 40px;
    line-height: 1.23;

    color: map-get($colors , 'primary-text-color' );
}